name: Test
on:
  pull_request:
    paths-ignore:
      - 'deploy/charts/**'
    branches: [ main ]

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - run: make test
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - run: make -j1 kind-cluster deploy-cert-manager docker-build kind-load deploy e2e
      - run: make kind-export-logs E2E_ARTIFACTS_DIRECTORY=build/artifacts/e2e-logs
        if: failure()
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: failure()
        with:
          name: e2e-logs
          path: build/artifacts/e2e-logs
